<!DOCTYPE html>
<html>
<head>
    <title>CMUsic</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="icon" href="http://icons.iconarchive.com/icons/graphicloads/colorful-long-shadow/256/Music-icon.png">
</head>
<body>
    <div id='welcome'><p class='wel'>CMUsic</p>
    <div class='buttons'>
    <form action='../index.html'>
    <button class='user'>New User</button>
    </form>
        <p class='or'>or</p>
    <form action='../index.html'>
    <button class='login'>Login</button>
    </form>
    </div>
    </div>
</body>
</html>
<script src = 'main.js'></script>
<script src = '../anime.min.js'></script>
