@font-face {
    font-family: CMUsic;
    src: src: url("font.otf") format("opentype");
}

html{
    height:100%;
    width:100%;
}
body{
    background-color: #4bc6b9;
    height: 100%;
    width: 100%;
}

h1{
    font-size: 100px;
}

.welcome{
    margin-top: 25px;
    text-align: center;
    vertical-align: center;
    color: white;
}

button{
    width: 300px;
    height: 50px;
    font-size: 20px;
    background: none;
    border-color: #3849A0;
    border-width: 3x;
    transition-duration: 0.4s;
    border-radius: 16px;
    color: white;
}

button:hover{
    cursor: pointer;
    background-color: #3849A0;
}

img {
    padding: 5px;
    padding-top: 10%;
}