<!DOCTYPE html>
<html>
<head>
    <title>CMUsic</title>
    <link rel="stylesheet" type="text/css" href="/static/style_input.css">
    <link rel="icon" href="../static/logo.png">
</head>
<body>
<h1 id='title'>
Input Data
</h1>
<div id='container'>
    <h2>Enter AndrewID:</h2>
    <input id="andrewId">
    <h2>
        Artists
    </h2>
    <div class="input-artists">
        <input id='input-artists-1'>
        <input id='input-artists-2'>
        <input id='input-artists-3'>
        <input id='input-artists-4'>
        <input id='input-artists-5'>
    </div>
    <h2 id='Genres'>Genres</h2>
    <div class="input-genres">
        <div id='boxes-genres'>
        <input id='input-genres-1'>
        <input id='input-genres-2'>
        <input id='input-genres-3'>
        </div>
    </div>
    <h2 id='Songs'>Songs</h2>
    <div class="input-songs">
        <input id='input-songs-1'>
        <input id='input-songs-2'>
        <input id='input-songs-3'>
        <input id='input-songs-4'>
        <input id='input-songs-5'>
    </div>
    <button id='submit'>
        SUBMIT
</div>
</body>
<script src = '/static/main_input.js'></script>
</html>


