<!DOCTYPE html>
<html>
<head>
    <title>CMUsic</title>
    <link rel="stylesheet" type="text/css" href="/static/style_start.css">
    <link rel="icon" href="http://icons.iconarchive.com/icons/graphicloads/colorful-long-shadow/256/Music-icon.png">
</head>
<body>
    <div id='welcome'><p class='wel'>CMUsic</p>
    <div class='buttons'>
    <form action= 'http://127.0.0.1:5000/input'>
    <button class='user'>New User</button>
    </form>
        <p class='or'>or</p>
    <form action='../index.html'>
    <button class='login'>Login</button>
    </form>
    </div>
    </div>
</body>
</html>
<script src = '/static/main_start.js'></script>
<script src = '/static/anime.min.js'></script>
